<template>
  <div class="custom" v-on:click="toDetail(product.id)">
    <img :src="product.image" alt="product" />
    <div class="title-card">{{ product.title }}</div>
    <div class="price-card">$ {{ product.price }}</div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: {
        title: "Product Title",
        price: "Product Price",
      },
    },
  },
  methods: {
    toDetail(id) {
      this.$router.push(`/${id}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
}

.custom {
  width: 18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 9em;
    height: 12em;
    object-fit: contain;
    transition: all 0.5s ease-in-out;

    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.5);
      z-index: 999;
      cursor: pointer;
    }
  }
}

.title-card {
  width: 18em;
  max-height: 7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 400;
  color: $card-title-color;
  text-transform: uppercase;
}

.price-card {
  width: 18em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  color: $primary-color;
  text-transform: uppercase;
}

.discount-card {
}
</style>