<template>
  <div class="row">
    <div class="carousel-container col-md-8">
      <b-carousel :interval="4000">
        <b-carousel-slide img-src="~/assets/img/disc_1.webp" class="showcase" />
        <b-carousel-slide img-src="~/assets/img/disc_2.webp" class="showcase" />
      </b-carousel>
    </div>

    <div class="col-md-4">
      <img src="~/assets/img/banner.jpg" class="banner" alt="banner" />
    </div>
  </div>
</template>


<style lang="scss" scoped>
.carousel-container {
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase {
  width: 100%;
  height: 26em;
  object-fit: cover;
}
</style>