<template>
  <div style="position: relative; bottom: 0; left: 0">
    <div class="line"></div>
    <div class="container">
      <div class="footer-container">
        <div class="row">
          <div class="col">
            <h2>EVERMOS</h2>

            <div>Join Us in Social Network</div>
            <div class="icon-container">
              <div style="padding-right: 1em">
                <font-awesome-icon :icon="faInstagram" style="font-size: 2em" />
              </div>

              <div style="padding-right: 1em">
                <font-awesome-icon :icon="faFacebook" style="font-size: 2em" />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="ft-sub-container">
              <h5>Menu</h5>
              <a href="#">Home</a>
              <a href="#">New Arrival</a>
              <a href="#">Category</a>
              <a href="#">Sales</a>
              <a href="#">Brands</a>
              <a href="#">Blog</a>
              <a href="#">About us</a>
            </div>
          </div>
          <div class="col">
            <div class="ft-sub-container">
              <h5>Information</h5>
              <a href="#">Term and Conditions</a>
              <a href="#">FAQ</a>
              <a href="#">Delivery and Returns</a>
            </div>
          </div>
          <div class="col">
            <div class="ft-sub-container">
              <h5>Works</h5>
              <div style="display: flex; flex-direction: row">
                <div class="subtitle">Monday - Friday :</div>
                9AM - 5PM
              </div>

              <div style="display: flex; flex-direction: row">
                <div class="subtitle">Saturday :</div>
                10AM - 2PM
              </div>
              <div style="display: flex; flex-direction: row">
                <div class="subtitle">Sunday :</div>
                Closed
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { faInstagram, faFacebook } from "@fortawesome/free-brands-svg-icons";
export default {
  computed: {
    faInstagram() {
      return faInstagram;
    },
    faFacebook() {
      return faFacebook;
    },
  },
};
</script>

<style lang="scss" scoped>
.footer-container {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;

  h2 {
    font-family: "Times New Roman";
    color: $primary-color;
  }
}

.ft-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h5 {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    color: $primary-color;
  }
}

.subtitle {
  color: $card-title-color;
  font-weight: 300;
}

.icon-container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.line {
  width: 100vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 1px solid $accent-color;
}
</style>