<template>
  <div>
    <nuxt keep-alive />
    <!-- Navbar Component -->
    <navbar-component />
    <!-- End of Navbar Component -->

    <!-- Body -->
    <div class="container">
      <!-- Carousel and Picture -->
      <section class="carousel-container"><CarouselnPicComponent /></section>
      <!-- End of Carousel and Picture -->

      <!-- Special Button -->
      <section>
        <div class="row pt-4">
          <div class="col-md-6">
            <button class="special-button">
              <span> <font-awesome-icon :icon="['fa', 'tags']" /> </span
              ><b> Discover</b> our collection
            </button>
          </div>
          <div class="col-md-6">
            <button class="special-button">
              <span>
                <font-awesome-icon :icon="['fa', 'percent']" />
              </span>
              Huge <b>Discount</b>
            </button>
          </div>
        </div>
      </section>
      <!-- End of Special Button  -->

      <!-- Most Popular Product -->
      <section>
        <div class="title-text">Most Popular</div>
        <div class="row">
          <div
            class="col-md-3"
            v-for="spProduct in spProducts"
            :key="spProduct.title"
          >
            <CardComponent :product="spProduct" />
          </div>
        </div>

        <div class="center-container">
          <button class="more-button">See More</button>
        </div>
      </section>
      <!-- End of Most Populas Product -->

      <!-- Small Banner -->
      <section>
        <img
          src="~/assets/img/banner-small.jpg"
          alt="small-banner"
          style="width: 100%"
        />
      </section>
      <!-- End of Small Banner -->

      <!-- Other Product  -->
      <section>
        <div class="title-text">Other Product</div>
        <div class="row" v-for="(products, index) in chunckedProd" :key="index">
          <div
            class="col-md-3"
            v-for="product in products"
            :key="product.title"
          >
            <CardComponent :product="product" />
          </div>
        </div>
      </section>
      <!-- End of Other Product -->
    </div>
    <!-- End of Body -->

    <!-- Footer Component -->
    <FooterComponent />
    <!-- End of Footer Component -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: {
        type: Array,
        default: () => [],
      },
      product: {
        type: Object,
        default: () => ({}),
      },
      spProducts: {
        type: Array,
        default: () => [],
      },
      spProduct: {
        type: Object,
        default: () => ({}),
      },
    };
  },
  async fetch() {
    this.products = await this.$axios.$get("/products");
    this.spProducts = await this.$axios.$get("/products?limit=4");
  },
  mounted() {
    this.getData;
  },
  // fetchOnServer: false,
  computed: {
    chunckedProd() {
      let fArr = this.products;
      let newArr = [];
      for (let i = 0; i < fArr.length; i += 4) {
        newArr.push(fArr.slice(i, i + 4));
      }
      return newArr;
    },
  },
  methods: {
    async getData() {
      this.products = await this.$axios.$get("/products");
      this.spProducts = await this.$axios.$get("/products?limit=4");
    },
  },
};
</script>

<style lang="scss" scoped>
.carousel-container {
  width: 100%;
  padding-top: 12em;
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.title-text {
  font-size: 2em;
  font-weight: 200;
  padding-top: 1em;
  padding-bottom: 1em;
}

.showcase-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.special-button {
  width: 100%;
  background-color: white;
  border: 1px solid $bdr-color;
  border-radius: 12px;
  padding: 3em;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: $primary-color;

  &:hover {
    background-color: $bdr-color;
  }
}

.more-button {
  border: 1px solid $bdr-color;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: $primary-color;

  &:hover {
    background-color: $bdr-color;
  }
}
</style>
