<template>
  <div class="navbar-container">
    <nav>
      <h2>EVERMOS</h2>
    </nav>

    <div class="line"></div>
    <div class="container pb-2">
      <div class="layout-divider">
        <div>
          <b-navbar>
            <b-navbar-nav>
              <b-nav-item href="/">Home</b-nav-item>

              <b-nav-item-dropdown text="New Arrival" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown text="Category" right>
                <b-dropdown-item href="#">Scarf</b-dropdown-item>
                <b-dropdown-item href="#">Outer</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown text="Sales" right>
                <b-dropdown-item href="#">Scarf</b-dropdown-item>
                <b-dropdown-item href="#">Outer</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown text="Brands" right>
                <b-dropdown-item href="#">Scarf</b-dropdown-item>
                <b-dropdown-item href="#">Outer</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-navbar>
        </div>

        <div>
          <b-navbar>
            <b-navbar-nav>
              <b-nav-item href="#">Blog</b-nav-item>

              <b-nav-item href="#">About us</b-nav-item>

              <b-nav-item href="#">Contact us</b-nav-item>
            </b-navbar-nav>
          </b-navbar>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.navbar-container {
  @include theme;
  width: 100%;
  padding-top: 1.5em;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 6px 1px #a6a6ae;

  h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
  }

  .line {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 1px solid $accent-color;
  }
}

.layout-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
</style>



