<template>
  <div class="base-container">
    <div>
      <button v-on:click="dec">-</button>
    </div>
    <div class="qty">{{ Qty }}</div>
    <div>
      <button v-on:click="inc">+</button>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    Qty() {
      return this.$store.getters.getQty;
    },
  },
  methods: {
    inc() {
      this.$store.commit("inc");
    },
    dec() {
      this.$store.commit("dec");
    },
  },
};
</script>

<style lang="scss" scoped>
.base-container {
  width: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  button {
    width: 2em;
    border: 2px solid $bdr-color;
    background-color: white;
    color: $primary-color;
    font-size: 1.2em;
  }

  .qty {
    width: 4em;
    height: 1.5em;
    border: none;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: white;
  }
}
</style>