<template>
  <div class="size-opt-container">
    <div class="size-box">S</div>
    <div class="size-box">M</div>
    <div class="size-box">L</div>
    <div class="size-box">XL</div>
  </div>
</template>

<style lang="scss" scoped>
.size-opt-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.size-box {
  width: 2.2em;
  height: 2.2em;
  padding: 1em;
  background-color: white;
  border: 1px solid $bdr-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
</style>