<template>
  <div>
    <!-- Navbar Component -->
    <navbar-component />
    <!-- End of Navbar Component -->

    <!-- Body -->
    <section>
      <div class="container" style="padding-top: 12em">
        <div class="row">
          <!-- Product Gallery  -->
          <div class="col-md-5">
            <div class="gallery-container">
              <div class="gallery">
                <img :src="product.image" alt="gallery" />
                <img :src="product.image" alt="gallery" />
                <img :src="product.image" alt="gallery" />
                <img :src="product.image" alt="gallery" />
              </div>
              <img :src="product.image" class="banner" alt="product" />
            </div>
          </div>
          <!-- End of Product Gallery -->
          <div class="col-md-7">
            <!-- Basic Info -->
            <h6 class="subtitle">product code : {{ routeParams.productid }}</h6>
            <div class="title">{{ product.title }}</div>
            <h6 class="subtitle">Availability: <b>In Stock</b></h6>
            <!-- End Of Basic Info -->

            <!-- Price Info -->
            <div class="line"></div>
            <div class="subtitle">Price:</div>
            <div class="price">$ {{ product.price }}</div>
            <div class="line"></div>
            <!-- End of Price Info -->

            <!-- Quantity and Cart  -->
            <div class="info-container">
              <div style="padding-right: 2em">
                <div class="subtitle pb-1">Quantity :</div>
                <QtyComponent />
              </div>
              <div style="flex-grow: 2; padding-right: 2em">
                <div class="subtitle pb-1">Size :</div>
                <SizeOptComponent />
              </div>
            </div>

            <div class="info-container pt-5">
              <button class="btn-cart">
                <font-awesome-icon :icon="faCartShopping" /> Add to Cart
              </button>
            </div>
            <!-- End of Quantity and Cart  -->
          </div>
        </div>

        <div class="line"></div>

        <!-- Description -->
        <div class="container pb-5">
          <div class="row">
            <div class="col-md-6">
              <div class="desc-title">Description</div>
              <div class="desc">
                {{ product.description }}
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <!-- End of Description -->

        <div class="line"></div>

        <!-- Most Popular Product -->
        <section>
          <div class="desc-title">Most Popular</div>
          <div class="row">
            <div
              class="col-md-3"
              v-for="spProduct in spProducts"
              :key="spProduct.title"
            >
              <CardComponent :product="spProduct" />
            </div>
          </div>

          <div class="center-container">
            <button class="more-button">See More</button>
          </div>
        </section>
        <!-- End of Most Populas Product -->
      </div>
    </section>
    <!-- Footer Component -->
    <FooterComponent />
    <!-- End of Footer Component -->
  </div>
</template>

<script>
import { faCartShopping } from "@fortawesome/free-solid-svg-icons";
export default {
  data() {
    return {
      routeParams: this.$route.params,
      product: {},
      spProducts: {
        type: Array,
        default: () => [],
      },
      spProduct: {
        type: Object,
        default: () => ({}),
      },
    };
  },
  async fetch() {
    this.product = await this.$axios.$get(
      `/products/${this.routeParams.productid}`
    );
    this.spProducts = await this.$axios.$get("/products?limit=4");
  },
  computed: {
    faCartShopping() {
      return faCartShopping;
    },
  },
};
</script>

<style lang="scss" scoped>
.banner {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery {
  width: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
  }
}

.line {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid $accent-color;
}

.title {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 2.4em;
  font-weight: 300;
  color: $primary-color;
}

.subtitle {
  color: $card-title-color;
}

.desc-title {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 2em;
  font-weight: 300;
  color: $primary-color;
}

.desc {
  font-size: 1em;
  font-weight: 200;
  color: $primary-color;
  text-align: justify;
}

.price {
  color: $primary-color;
  font-size: 2em;
}

.btn-cart {
  background-color: $primary-color;
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
}

.more-button {
  border: 1px solid $bdr-color;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: $primary-color;

  &:hover {
    background-color: $bdr-color;
  }
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
}
</style>